# 🧪 Dependencias y builds
node_modules/
dist/
dist-ssr/
build/
coverage/
storybook-static/

# ⚙️ Archivos de entorno
.env
.env.*
!.env.example
*.local

# 🪵 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🖥️ Configuración de editores y SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# 🗂️ Archivos temporales o de debugging
*.tmp
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.tgz
*.zip
